/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: "Volotea Sans Condensed";
  src: url("/assets/fonts/volotea-sans/volotea-sans-condensed.woff2") format("woff2"), url("/assets/fonts/volotea-sans/volotea-sans-condensed.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Volotea Sans Condensed";
  src: url("/assets/fonts/volotea-sans/volotea-sans-condensed-bold.woff2") format("woff2"), url("/assets/fonts/volotea-sans/volotea-sans-condensed-bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Volotea Sans";
  src: url("/assets/fonts/volotea-sans/volotea-sans-regular.woff2") format("woff2"), url("/assets/fonts/volotea-sans/volotea-sans-regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Volotea Sans";
  src: url("/assets/fonts/volotea-sans/volotea-sans-regular-italic.woff2") format("woff2"), url("/assets/fonts/volotea-sans/volotea-sans-regular-italic.woff") format("woff");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Volotea Sans";
  src: url("/assets/fonts/volotea-sans/volotea-sans-bold.woff2") format("woff2"), url("/assets/fonts/volotea-sans/volotea-sans-bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Volotea Sans";
  src: url("/assets/fonts/volotea-sans/volotea-sans-bold-italic.woff2") format("woff2"), url("/assets/fonts/volotea-sans/volotea-sans-bold-italic.woff") format("woff");
  font-weight: 700;
  font-style: italic;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Volotea-Sans-Condensed", Helvetica, Arial, sans-serif;
}
